<div class="row">
    <div class="Bordure1 col-lg-10 mx-auto my-auto">
        <div class="Bordure2 mx-auto my-auto">
            <div class="Bordure3 mx-auto">
                <div class="row">
                    <div class="col-8 mx-auto text-center my-2">
                        <h1 class="certificat-title">CERTIFICATE</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 mx-auto text-center my-2">
                        <h3 class="simple-text">1st place of <span class="special-text">Ultimate Team Race</span></h3>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-8 mx-auto text-center">
                        <h1 class="certificat-title">-  EQUIPE ${}  -</h1>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-4 text-center">
                        <p>Signature</p>
                        <hr />
                        <p class="signature">Lorem</p>
                    </div>
                    <div class="col-4 text-center">
                        <p>Points: ${0}</p>
                    </div>
                    <div class="col-4 text-center">
                        <p>Date</p>
                        <hr />
                        <p class="dateCertificat">2024-04-06</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>