@using Evaluation.Models.ViewModel
@model LoginEquipeViewModel;
@{
    Layout = "_Auth";
}

<div class="row w-100 mx-0">
    <div class="col-lg-6 col-md-6 mx-auto">
        <div class="auth-form-light text-left py-5 px-4 px-sm-5" id="fond-logo-7">
            <div class="brand-logo">
                <img src="~/images/TeamRace.png" alt="logo">
            </div>
            <h4>Connexion d'equipe</h4>
            <form class="pt-3" asp-area="" asp-action="EquipeSignIn" asp-controller="Equipe" method="POST">
                <div class="form-group">
                    <input type="text" value="A" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Adresse email ou Nom" asp-for="Email" required>
                </div>
                <div class="form-group">
                    <input type="password" value="A" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="Mot de passe" asp-for="MotDePasse" required>
                </div>

                @if(ViewBag.ErrorMessage != null){
                    <div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
                        <strong>Holy macaroni!</strong> @ViewBag.ErrorMessage
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

                <div class="mt-3 d-grid gap-2">
                    <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" >SIGN IN</button>
                </div>
                <div class="my-2 d-flex justify-content-between align-items-center">
                    <div class="form-check">
                        <label class="form-check-label text-muted">
                        <input type="checkbox" checked="checked" class="form-check-input" asp-for="KeepLoggedIn"> Keep me signed in </label>
                    </div>
                </div>
                <div class="text-center mt-4 font-weight-light"> 
                    Don't have an account? <a href="@Url.Action("EquipeSignUp","Equipe")" class="text-primary">Create</a>
                </div>
            </form>
        </div>
    </div>
</div>